{% extends 'team_finder_app/base.html' %}
{% load static %}
{% block title %}S & P - Search and Play{% endblock %}

{% block content %}

<body class="bg-gray-800 text-white">
    <main class="max-w-7xl mx-auto p-4">
        <!-- Hero Section -->
        <section class="flex flex-col justify-center items-center py-12">
            <h2 class="text-6xl font-bold mb-4">S & P - Search and Play</h2>
            <img src="{% static 'images/sp.png' %}" class="h-60 my-2" alt="">
            <h3 class="text-5xl mb-10 uppercase">платформа для поиска тиммейтов для игр</h3>
            <p class="text-lg text-gray-400 mb-10">Ваше идеальное место для поиска тиммейтов, общения с игровым сообществом и отслеживания самых свежих новостей индустрии игр.</p>
            <a href="{% url 'create_profile' %}" class="bg-gray-900 text-white py-2 px-6 rounded-lg hover:bg-gray-500">Анкета</a>
        </section>
    
    
        <!-- Community Section -->
        <section class="py-12">
            <h2 class="text-3xl font-bold mb-4">Присоединяйтесь к сообществу</h2>
            <p class="text-xl mb-8">Общайтесь с другими геймерами, участвуйте в обсуждениях и станьте частью нашего яркого сообщества.</p>
            <div class="bg-gray-800 p-4 rounded-lg shadow-md">
                <h3 class="text-2xl font-bold mb-2">Сообщество в Discord</h3>
                <p class="mb-4">Обсуждайте стратегии, делитесь советами и находите тиммейтов в нашем Discord.</p>
                <a href="#" class="text-blue-400 hover:underline">Перейти</a>
            </div>
        </section>
    
    </main>
</body>


{% endblock %}