{% extends 'team_finder_app/base2.html' %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}

    <h1 class="text-center text-white mt-10 md:text-4xl text-2xl">S & P - Search and Play</h1>
    <section class="w-full flex justify-center items-center min-h-[600px]">
    <div class="flex max-lg:flex-col items-center lg:gap-72 gap-12">
            <img src="{% static 'images/sp.png' %}" alt="Almau-Logo" class="h-72">
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col gap-4 text-black">
                <input type="text" name="username" placeholder="Username" class="input text-sm" required>
                <input type="password" name="password" placeholder="Password" class="input text-sm" required>
            </div>
            <button type="submit" class="text-white w-[256px] h-[30px] rounded-md my-2">Войти</button> <br>
            <p class="text-center"><a href="{% url 'register' %}" class="text-white">Регистрация</a></p>
        </form>
    </div>
    
</section>

{% endblock %}