{% extends 'team_finder_app/base.html' %}
{% load static %}

{% block title %}Поиск тиммейтов{% endblock %}

{% block content %}

<style>
    @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.hover-effect {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hover-effect:hover {
    background-color: #e2e8f0; 
    transform: scale(1.05);
}

.dark-hover-effect {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dark-hover-effect:hover {
    background-color: #4a5568; 
    transform: scale(1.05);
}
</style>

<body class="bg-gray-800 fade-in">
    <div class="max-w-[720px] mx-auto mt-10 p-4 rounded-lg shadow sm:p-6 bg-gray-800 border-gray-700 fade-in">
        <h5 class="mb-3 text-base font-semibold md:text-xl text-white fade-in">
            Подбор тиммейтов
        </h5>
        <p class="text-sm font-normal text-gray-500 dark:text-gray-400 fade-in">Выберите игру и найдите новых тиммейтов!</p>
        <ul class="my-4 space-y-3 fade-in">
            {% for game in games %}
            <li>
                <a href="{% url 'game_profile' game=game %}" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 hover-effect group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white dark-hover-effect">
                    <span class="flex-1 ms-3 whitespace-nowrap">{{ game }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}